{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">


        <div class="col">
            <img src="{{ product.image.url }}" class="float-left" alt="{{ product }}" height="200px" width="100px">
        </div>

        <div class="col">

            <a href="{% url 'detail' product.id %}">{{ product.brand.brandName }} {{ product.name }}</a> <br>
            {% if rating %}
            {{ rating }}<i class="fa fa-star"></i>
            {% else %}
            <small>not rated yet no reviews </small>
            {% endif %}
            <br>

            <ul>
                <li>{{ product.ram }} GB</li>
                <li>{{ product.rom }} GB</li>
                <li>{{ product.battery }} Mah</li>
                <li>{{ product.screen }} inch</li>
            </ul>

        </div>


        <div class="col">

            {{ product.price }} <br>
            <form action="{% url 'email' product.id %}" method="POST"> {% csrf_token %}
                <input type="email" placeholder="me@mail.com" name='email'>
                <input type="submit" value="Send to Me"></input>
            </form>
        </div>
    </div>
    <br>


    {% for review in reviews %}
    <div>
        {{ review.review }}
        <hr>
    </div>
    {% endfor %}

</div>

{% endblock %}